:root {
  --background-color: #ebeef3;
  --background-color-base: #ffffff;
  --heading-color: rgba(0, 0, 0, 0.85);
  --success-color: #52c41a;
  --info-color: #1890ff;
  --text-color: rgba(0, 0, 0, 0.75);
  --text-color-secondary: rgba(0, 0, 0, 0.5);

  --font-size-sm: 1.2rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 2rem;
  --font-size-err-header: 2.6rem;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Roboto&display=swap");
@import "./_normalize.scss";

html,
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  font-weight: 400;
  background-color: var(--background-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
